.header {
    display: flex;
    flex-direction: column;
}

.header .nav-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.header .nav-genres {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.header .nav-genres button {
    margin-right: 0.5em;
    margin-bottom: 1em;
}

.header .search {
    display: flex;
    flex-direction: row;
}

  