.movies{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    flex-wrap: wrap;
  }
    
.movie {
    flex-direction: column;
    padding: 0.5em;
    cursor: pointer;
  }
.movie h3 {
    width: 185px
  }
  

.card {
    height: 300px;
    width: 220px;
    align-items: center;
}
.card-img-top {
    height: 278px;
    width: 185px;
}